<!DOCTYPE html>
<html>
<head>
    <title>Antifraud Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<h1>Security Dashboard</h1>

<div>
    <h3>Users: <span id="users"></span></h3>
    <h3>Logins: <span id="logins"></span></h3>
    <h3>High Risk: <span id="risk"></span></h3>
</div>

<hr>

<h2>Recent Logins</h2>
<ul id="loginsList"></ul>

<script>
fetch("/api/stats")
.then(r => r.json())
.then(d => {
    document.getElementById("users").innerText = d.users;
    document.getElementById("logins").innerText = d.logins;
    document.getElementById("risk").innerText = d.high_risk;
});

fetch("/api/logins")
.then(r => r.json())
.then(data => {
    const list = document.getElementById("loginsList");

    data.forEach(l => {
        const li = document.createElement("li");
        li.innerText = `User ${l.user_id} | ${l.ip} | ${l.country} | ${l.browser}`;
        list.appendChild(li);
    });
});
</script>

</body>
</html>
